body {
    background-color: #25008a;
    background-image: url("/imgs/axiom-pattern.png");
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Jura';
    text-align: center;
    margin-bottom: 2%;
    color: aliceblue;
    font-size: 3rem;
}

.flex-container-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: inset 0px 0px 20px 0px #000;
    border-radius: 15px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}

/*Grid will change size for bigger devices*/
@media screen and (min-width: 768px) {
    .flex-container-top {
        width: 40%;
    }
}

.flex-item-top {
    box-shadow: 3px 3px 10px 0 #000000;
    background-color: #25008a;
    border-radius: 15px;
    width: 2.5rem;
    height: 2.5rem;
    margin: 5px;
    margin-top: 22px;
    font-size: 1rem;
    color: #fff;
    font-family: 'Jura';
    font-weight: bolder;
    text-align: center;
}

/*Boxes will change size for bigger devices*/
@media screen and (min-width: 768px) {
    .flex-item-top {
        box-shadow: 3px 3px 10px 0 #000000;
        background-color: #25008a;
        border-radius: 15px;
        width: 7rem;
        height: 7rem;
        margin: 5px;
        margin-top: 22px;
        font-size: 3rem;
        color: #fff;
        font-family: 'Jura';
        font-weight: bolder;
        text-align: center;
    }
}



.flex-container-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    padding: 2%;
    max-width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* media query response layout below */
@media screen and (max-width: 600px) {
    .flex-container-bottom {
        flex-direction: column;
    }
}

.button {
    box-shadow: 3px 3px 10px 0 #fff;
    background-color: #25008a;
    border-radius: 15px;
    border-color: #fff;
    width: fit-content;
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Jura';
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.button:hover {
    background-color: #fff;
    color: #25008a;
    box-shadow: 3px 3px 10px 0 #000;

}

.button2 {
    box-shadow: 3px 3px 10px 0 #fff;
    background-color: #25008a;
    border-radius: 15px;
    border-color: #fff;
    width: fit-content;
    font-size: 1.5rem;
    color: #fff;
    font-family: 'Jura';
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


.paragraph {
    font-family: 'Jura';
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 5px;
}